.nav {
    grid-area: n;
    background-color: grey;
    margin: 5px 0 5px 5px;
    width: auto;
    padding: 20px;
}

.item a {
    text-decoration: none;
    color: black;
}

.item a.activeLink {
    color: dimgrey;
}

.friends {
    margin-top: 50px;
}